mat-form-field{
  width: 40%;
}
.login-button{
  background: dodgerblue;
  color: white;
  width: 20%;
}

@media screen and (max-width: 700px) {
  mat-form-field{
    width: 80%;
  }
  .login-button{
    width: 80%;
  }
}
